@import url('https://fonts.googleapis.com/css?family=Oswald|Arimo');

/* General Formatting */

/* format headers+footers */

.quarto-title-meta-heading {
  color: #006699;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  color: #006699;
  font-family: 'Oswald', sans-serif;
}

p.subtitle {
  color: #006699;
}

.footer {
  border-top: 3px solid #006699; 
  }
  
.footer-images img {
  height: 50px;
  margin-right: 10px;
}

.footer-tools a {
  color: #006699;
  text-decoration: none;
}

.footer-tools a:hover {
  text-decoration: underline;
}

/* format sidebar */

.sidebar-title a { 
  color: #006699;
  text-decoration: none;
  font-size: 110%;
  font-variant: small-caps;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.sidebar-tools {
  display: inline-flex;
  margin-left: 0px;
  order: 2;
}

.sidebar-item-section .sidebar-item-text .menu-text {
  color: #1975a3;
  font-weight: bold;
  display: block;
  text-align: center;
}

#quarto-sidebar-section-1 .sidebar-item .menu-text {
  color: #7e8484;
  font-weight: normal;
}

.sidebar-item-toggle i.bi-chevron-right {
  display: none;
}

.sidebar-menu-container {
    border: 2px solid #006699;
    box-shadow: 0px 0px 5px #cce0ea;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
}

.sidebar-item-container {
    text-align: center;
}

.sidebar-item-text {
    display: block;
    text-align: center;
}

.sidebar-link {
    width: 100%;
    text-align: center;
}

.menu-text {
    display: inline-block;
}

/* format navbar */

.navbar {
  margin-bottom: 20px;
  border-bottom: 3px solid #006699; 
  }
  
.nav-item {
  margin-top: 3rem
}

.navbar-brand.navbar-brand-logo {
  display: flex;
  margin-right: 0;
  margin-left: 0em;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-logo {
  max-height: 100px;
  width: auto;
  align-items: baseline;
}

#quarto-search {
  margin-top: 3rem;
}

/* format background page links on home page */

.link-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}

.card {
  box-shadow: none;
  border: none;
}

.card-body {
  flex: 1;
}

.card-body a {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Figures */

/* remove line below kable table footer */

table.table-striped.table-sm.small tfoot td {
    border: none;
}

/* fix table width */

table.kable-table {
  table-layout: fixed;
  width: 100%;
}

table.kable-table th, table.kable-table td {
  width: calc(100% / var(--num-cols));
}

/* remove figure ref in text */

a[href^='#fig'], a[href^='#tbl'] {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

/* center captions */

figure .figure-caption {
  text-align: center;
}

/* Misc */

/* remove anchor icon */

.anchored .anchorjs-link {
    display: none;
}